.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100dvh;
  transition: all 0.7s ease-in-out;
  opacity: 0;
  transform: translateY(-200dvh);

  &--active {
    opacity: 1;
    transform: translateY(0);
  }

  .background {
    width: 100vw;
    height: 100dvh;
    opacity: 0.5;
    background: black;
    filter: blur(10px);
    z-index: 1;
  }

  .body {
    position: absolute;
    background: white;
    border-radius: 8px;
    z-index: 2;
    max-width: 90vw;
    transition: all 0.7s ease-in-out;
    transform: translateY(-200dvh);

    &--active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
