@import 'src/shared/scss/media-queries';

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 16px 32px;
    width: 100%;
    z-index: 2;

    @include mobile {
      padding: 4px 16px;
    }

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: 0;
      padding: 4px;
      cursor: pointer;

      .logo {
        width: 42px;
        height: auto;
        max-width: 56px !important;
        animation: rotate 4s infinite ease-in-out;

        @keyframes rotate {
          0% {
            transform: scaleX(1);
          }
          50% {
            transform: scaleX(-1);
          }
          100% {
            transform: scaleX(1);
          }
        }
      }

      @include mobile {
        font-size: 24px;
      }
    }

    &__menu-icon {
      width: 44px;
      height: auto;
      cursor: pointer;
    }

    &__menu {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: center;
      align-items: center;

      &__option {
        color: white;
        text-align: right;
        font-family: 'Inter';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.1px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border: 0;
        border-radius: 6px;
        background: #99c06c;
        cursor: pointer;
        overflow: hidden;
        width: 132px;
        height: 38px;
        position: relative;

        .text {
          color: black;
          font-family: 'Inter';
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          transition: all 0.3s ease;
          transform: translateX(0);
          position: absolute;
          line-height: 28.1px;

          &--active {
            transform: translateX(200%);
          }
        }

        .plane {
          width: 32px;
          height: auto;
          transition: all 0.3s ease;
          transform: translateX(-450%) scaleX(-1);
          position: absolute;

          &--active {
            transform: translateX(0) scaleX(-1);
          }

          svg {
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    img {
      @include mobile {
        max-width: 32px;
      }
    }
  }

  &__side-menu {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 56px);
    padding: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    top: 56px;
    left: -100vw;
    background: linear-gradient(180deg, #2b2b2b 0%, #333333 100%);
    transition: all 0.3s ease-in-out;
    z-index: 1;
    opacity: 0;

    &--opened {
      left: 0 !important;
      opacity: 1;
    }

    &__back_button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      color: white;
      text-align: left;
      font-family: 'Inter';
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      cursor: pointer;
      position: relative;
      width: 100%;

      img {
        width: 32px;
        height: auto;
      }
    }

    &__submenu {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__option {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 4px 16px;
        color: white;
        text-align: right;
        font-family: 'Inter';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        position: relative;
        width: 100%;

        &:hover {
          text-decoration: underline;
        }

        svg {
          width: 32px;
          height: auto;
          margin: 0 8px;
        }

        &--letter {
          display: flex;
          justify-content: center;
          position: relative;

          span {
            opacity: 0;
            animation: enterLetter 0.5s 0.2s forwards ease-in-out;
          }

          @keyframes enterLetter {
            0% {
              // left: -100vw;
              transform: translateX(-50vw);
              opacity: 0;
            }

            100% {
              // left: 0;
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
      }

      .selected {
        background: #7c7c7c;
        border-radius: 4px;
        animation: showOption 0.5s ease-in-out forwards;

        @keyframes showOption {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }

    .contact-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 16px;
      width: 100vw;
      position: absolute;
      bottom: 64px;
      left: 0;

      .line {
        height: 2px;
        width: 145px;
        background: white;
        border-radius: 4px;
      }

      &__plane {
        svg {
          width: 45px;
          height: auto;
          transform: scaleX(-1);
        }
      }
    }
  }
}
