@import 'src/shared/scss/media-queries';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow: hidden;

  .shapes {
    &--1 {
      position: absolute;
      top: 160px;
      right: 0;
      height: auto;
      width: 70%;
    }

    &--2 {
      position: absolute;
      bottom: 160px;
      left: 0;
      height: auto;
      width: 70%;
      transform: scaleX(-1);
    }
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    background: transparent;
    width: 100%;
    max-width: 1245px;
    height: 100vh;
    z-index: 2;

    @include mobile {
      padding: 0 16px;
      width: calc(100% - 32px);
      height: calc(100vh - 56px);
      gap: 32px;
    }

    &__title-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2px;
      width: 100%;
      height: 80px;

      &__title {
        color: #f8f8ff;
        text-align: center;
        font-family: 'Inter';
        font-size: 36px;
        font-weight: 700;
        line-height: 56.2px;

        @include mobile {
          align-self: center;
        }
      }

      &__skillset-title {
        color: #848484;
        text-align: center;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 600;
        line-height: 22.2px;
        align-self: center;
        transition: all 0.5s ease-in-out;
        transform: translateX(-100vw);

        &--active {
          transform: translateX(0);
        }
      }
    }

    &__icons-container {
      display: flex;
      width: 1245px;
      flex-direction: column;
      align-items: center;
      gap: 64px;
      height: auto;
      animation: rotationLeft 60s linear infinite;

      @include mobile {
        width: 100%;
        gap: 36px;
      }

      &__first {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 82px;

        @include mobile {
          gap: 52px;
        }
      }

      .icons {
        width: 120px;
        height: auto;
        transition: all 0.4s ease;
        animation: rotationRight 60s linear infinite;

        &:hover {
          width: 140px;

          @include mobile {
            width: 82px;
          }
        }

        @include mobile {
          width: 72px;
        }
      }
    }
  }
}

@keyframes rotationLeft {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotationRight {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
