@import "src/shared/scss/media-queries";

.main {
  z-index: 1;
  background: #15212c;
  position: relative;

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 256px;
    min-height: 100vh;
    z-index: 2;

    @include mobile {
      gap: 0;
    }

    &__container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
