@import 'src/shared/scss/media-queries';
@import 'src/shared/scss/variables';

.main {
  z-index: 1;
  position: relative;
  background: $color-bg-dark-end;
  overflow: hidden;

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 64px;
    height: 100dvh;
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;

    @include mobile {
      gap: 42px;
    }

    &__container {
      display: flex;
      justify-content: center;
      width: 100%;
      scroll-snap-align: center;
    }
  }
}
