@import "src/shared/scss/media-queries";

.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
  background: transparent;
  width: 100%;
  max-width: 1064px;
  height: 100vh;

  @include mobile {
    width: calc(100% - 32px);
    height: calc(100vh - 56px);
    padding: 0 16px;
    gap: 16px;
  }

  &__title {
    color: #f8f8ff;
    font-family: "Inter";
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include mobile {
      font-size: 32px;
    }
  }

  &__expertises-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    @include mobile {
      gap: 16px;
    }

    &__expertise {
      display: flex;
      width: 1065px;
      padding: 32px 0px 32px 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      border-radius: 16px;
      border: 2px solid #395773;
      background: linear-gradient(
        180deg,
        #28435c 0%,
        #203b53 100%,
        #203b53 100%
      );
      position: relative;

      @include mobile {
        width: 100%;
        padding: 12px 24px;
        gap: 12px;
      }

      &__title {
        color: #f8f8ff;
        font-family: "Inter";
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 14px;
          font-size: 18px;
        }
      }

      &__description {
        color: #f8f8ff;
        font-family: "Inter";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 490px;

        @include mobile {
          font-size: 16px;
        }
      }

      &__image {
        position: absolute;
        right: 3rem;
        top: -4rem;
      }
    }
  }
}
