@import 'src/shared/scss/media-queries';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow: hidden;

  .shapes {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 50%;
    height: auto;
    opacity: 0.5;
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background: transparent;
    width: 100%;
    max-width: 1245px;
    padding: 16px;
    height: 100vh;

    @include mobile {
      gap: 8px;
    }

    &__title-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;
      width: 100%;

      &__title {
        color: #f8f8ff;
        text-align: start;
        font-family: 'Inter';
        font-size: 36px;
        font-weight: 700;
        line-height: 56.2px;

        @include mobile {
          align-self: center;
        }
      }
    }

    .information-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      gap: 32px;

      @include mobile {
        flex-direction: column;
        gap: 16px;
      }

      .slider {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: auto;
        width: 100%;
        overflow: auto;
      }

      .menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        width: 25%;

        @include mobile {
          flex-direction: row;
          height: auto;
          width: 100%;
          align-items: center;
          padding-left: initial;
          overflow: auto;
        }

        .division {
          height: 16px;
          width: 2px;
          background: white;
          flex: 0 0 auto;
        }

        .option {
          padding: 16px;
          border-left: 4px solid black;
          width: 100%;
          transition: all 0.8s ease;
          cursor: pointer;

          .job-title {
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 400;
            line-height: 22.73px;
            color: #7c7c7c;
            transition: all 0.8s ease;
            white-space: nowrap;

            &--active {
              color: #7ea153;
              font-weight: 500;
            }

            &:hover {
              text-decoration: underline;
            }

            @include mobile {
              text-align: center;
              align-self: center;
              width: 100%;
              font-size: 18px;
              font-weight: 400;
              line-height: 20.73px;
            }
          }

          &--active {
            border-left: 4px solid #7ea153;
          }

          @include mobile {
            display: flex;
            align-items: center;
            border-left: initial;
            padding: 4px 8px;

            &--active {
              border-left: initial;
            }
          }
        }
      }

      .information {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 720px;
        height: 333px;
        position: relative;

        @include mobile {
          max-width: 100%;
          padding: 8px 16px;
          height: initial;
        }

        .option {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: flex-start;
          gap: 16px;
          opacity: 0;
          transition: all 0.8s ease;
          position: absolute;
          transform: translateX(100%);

          &--active {
            opacity: 1;
            transform: translateX(0%);
          }

          @include mobile {
            width: 100%;
            opacity: 1;
            transform: translateX(0%);
            padding: 0;
            position: initial;
          }

          .title {
            font-family: 'Inter';
            font-size: 24px;
            font-weight: 600;
            line-height: 26.05px;
            color: #a5d170;

            @include mobile {
              font-size: 18px;
              font-weight: 400;
              line-height: 20.05px;
              align-self: center;
              text-align: center;
            }
          }

          .description {
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 400;
            line-height: 24.2px;
            text-align: left;
            color: #848484;

            @include mobile {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
