@import 'src/shared/scss/media-queries';
@import 'src/shared/scss/variables';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #212121;

  .shapes {
    position: absolute;
    bottom: 64px;
    right: 0;
    width: 50%;
    height: auto;
    opacity: 0.5;

    @include mobile {
      display: flex;
      width: 100%;
      align-items: flex-start;
      justify-content: end;
      flex-direction: column;
      position: absolute;
    }

    &__first {
      max-width: 50%;
      width: 100%;
      height: auto;
    }

    &__second {
      width: 100%;
      height: auto;
      position: absolute;
      top: 150px;

      &--a {
        animation: moveToLeftFirst 20s infinite linear;

        @keyframes moveToLeftFirst {
          0% {
            transform: translateX(0%);
          }

          100% {
            transform: translateX(100%);
          }
        }
      }

      &--b {
        animation: moveToLeftSecond 20s infinite linear;

        @keyframes moveToLeftSecond {
          0% {
            transform: translateX(-100%);
          }

          100% {
            transform: translateX(0%);
          }
        }
      }
    }

    &__third {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 150px;

      &--a {
        animation: moveToRightFirst 20s infinite linear;

        @keyframes moveToRightFirst {
          0% {
            transform: translateX(0%);
          }

          100% {
            transform: translateX(-100%);
          }
        }
      }

      &--b {
        animation: moveToRightSecond 20s infinite linear;

        @keyframes moveToRightSecond {
          0% {
            transform: translateX(100%);
          }

          100% {
            transform: translateX(0%);
          }
        }
      }
    }
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 42px;
    background: transparent;
    width: 100%;
    max-width: 1245px;
    padding: 64px 32px;
    z-index: 2;

    @include tablet {
      padding: 0 96px;
      gap: 8px;
    }

    @include mobile {
      gap: 24px;
    }

    &__title-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;
      width: 100%;

      &__title {
        color: $color-text-primary;
        text-align: start;
        font-family: $font-family-sans;
        font-size: 32px;
        font-weight: 700;
        line-height: 56.2px;

        @include tablet {
          font-size: 32px;
        }

        @include mobile {
          font-size: 24px;
          line-height: 32px;
          align-self: left;
        }
      }
    }

    .information-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      gap: 32px;

      @include tablet {
        gap: 128px;
      }

      @include mobile {
        flex-direction: column;
        gap: 16px;
      }

      .slider {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: auto;
        width: 100%;
        overflow: auto;
      }

      .information {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 720px;
        position: relative;
        background-color: $color-background-card;
        padding: 16px;
        border-radius: 16px;
        margin-right: 32px;
        max-width: 448px;

        @include mobile {
          max-width: 100%;
          padding: 16px;
          height: initial;
          margin-right: 0px;
        }

        .option {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: flex-start;
          gap: 12px;
          transition: all 0.8s ease;
          background: transparent;

          @include tablet {
            gap: 8px;
          }

          @include mobile {
            width: 100%;
            opacity: 1;
            transform: translateX(0%);
            padding: 0;
            position: initial;
          }

          &__header {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: flex-start;
            gap: 10px;
            width: 100%;
          }

          &__image {
            width: 64px;
            height: auto;
            border-radius: 16px;
            background: $color-white;

            @include mobile {
              width: 44px;
            }
          }

          &__title-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            gap: 8px;
            width: 100%;

            @include mobile {
              grid-template-columns: 1fr;
              gap: 0px;
            }

            .title {
              font-family: $font-family-sans;
              font-size: 16px;
              font-weight: $font-weight-bold;
              line-height: 26.05px;
              color: $color-white;
            }

            .date {
              font-family: $font-family-sans;
              font-size: 12px;
              font-weight: 400;
              line-height: 22.4px;
              color: $color-text-accent;
              text-align: right;
              width: 100%;
              white-space: nowrap;

              @include tablet {
                font-size: 16px;
                line-height: 20.73px;
              }

              @include mobile {
                text-align: left;
                font-size: 12px;
                line-height: 19.6px;
              }
            }

            .position {
              font-family: $font-family-sans;
              font-size: 14px;
              font-weight: $font-weight-semibold;
              line-height: 22.4px;
              white-space: nowrap;
              color: $color-text-secondary;

              @include tablet {
                font-size: 18px;
                line-height: 20.73px;
              }

              @include mobile {
                display: none;
              }
            }
          }

          .description {
            font-family: $font-family-sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
            color: $color-text-secondary;
            overflow: auto;
            max-height: 140px;
            padding-right: 8px;

            @include tablet {
              font-size: 18px;
              line-height: 20px;
            }

            @include mobile {
              font-size: 12px;
              line-height: 16px;
              max-height: 140px;
            }
          }
        }
      }
    }
  }
}
