@import 'src/shared/scss/media-queries';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: relative;

  .shapes {
    &--1 {
      position: absolute;
      top: 220px;
      right: 0;
      width: 50%;
      height: auto;
    }

    &--2 {
      position: absolute;
      width: 50%;
      height: auto;
      transform: scaleY(-1);
    }

    &--3 {
      position: absolute;
      bottom: 220px;
      left: 0;
      width: 50%;
      height: auto;
      transform: scaleX(-1);
    }
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background: transparent;
    width: 100%;
    max-width: 1245px;
    padding: 16px;
    height: 100vh;
    z-index: 2;

    @include mobile {
      gap: 8px;
    }

    &__title-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;
      width: 100%;

      &__title {
        color: #f8f8ff;
        text-align: start;
        font-family: 'Inter';
        font-size: 36px;
        font-weight: 700;
        line-height: 56.2px;

        @include mobile {
          align-self: center;
        }
      }
    }

    .information-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      gap: 32px;

      @include mobile {
        flex-direction: column;
        gap: 24px;
      }

      .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 16px;
        overflow: auto;
        height: 413px;

        @include mobile {
          flex-direction: row;
          height: auto;
          width: 100%;
          // justify-content: center;
          align-items: center;
          padding-left: initial;
        }

        .division {
          height: 16px;
          width: 2px;
          background: white;
          flex: 0 0 auto;
        }

        .option {
          padding: 16px;
          border-left: 4px solid black;
          width: 100%;
          transition: all 0.8s ease;
          cursor: pointer;

          @include mobile {
            border-left: 0;
            padding: 8px 16px;
          }

          .job-title {
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 400;
            line-height: 18.73px;
            color: #7c7c7c;
            transition: all 0.8s ease;

            &--active {
              color: #7ea153;
            }

            &:hover {
              text-decoration: underline;
            }

            @include mobile {
              white-space: nowrap;
            }
          }

          &--active {
            border-left: 4px solid #7ea153;

            @include mobile {
              border-left: 0;
            }
          }
        }
      }

      .images-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 720px;
        width: 100%;
        position: relative;

        @include mobile {
          flex-direction: column;
          gap: 16px;
        }

        .laptop-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          position: relative;

          @include mobile {
            height: 382px;
            width: 226px;
          }

          .frame {
            width: 100%;
            max-width: 688px;
            height: 388px;
            background: #1a202c;
            border-radius: 16px;
            border: 2px solid #4a5568;

            @include mobile {
              height: 382px;
              width: 226px;
              background: black;
              border: 1px solid #4a5568;
            }
          }

          .background {
            z-index: 2;
            height: auto;
            position: absolute;
            max-width: calc(100% - (688px - 655px));
            width: 655px;
            height: 361px;
            border-radius: 8px;
            background: black;

            @include mobile {
              height: 230px;
            }
          }

          .images {
            z-index: 3;
            height: auto;
            position: absolute;
            max-width: calc(100% - (655px - 623px));
            width: 623px;
            height: 336px;
            opacity: 0;
            transition: all 0.5s ease;

            &--active {
              opacity: 1;
            }

            @include mobile {
              width: 190px;
              height: 348px;
              border-radius: 4px;
            }
          }
        }

        .information {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 340px;
          height: 180px;
          position: absolute;
          background: white;
          border-radius: 8px;
          padding: 16px;
          top: -90px;
          left: -170px;
          overflow: hidden;
          z-index: 4;

          .option {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            gap: 32px;
            opacity: 0;
            transition: all 0.8s ease;
            position: absolute;
            width: calc(100% - 32px);
            transform: scale(0);

            &--active {
              opacity: 1;
              transform: scale(100%);
            }

            .description {
              font-family: 'Inter';
              font-size: 12px;
              font-weight: 400;
              line-height: 14.73px;
              text-align: left;
            }
          }
        }

        .domain-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          position: absolute;
          bottom: -35px;
          width: 100%;

          @include mobile {
            flex-direction: column;
            gap: 8px;
            align-items: flex-start;
            position: initial;
          }

          .domain {
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 300;
            line-height: 16.08px;
            text-align: left;
            text-decoration: underline;
            color: white;
            z-index: 2;

            a {
              color: white;
            }
          }

          .technologies-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 16px;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 300;
            line-height: 16.08px;
            text-align: left;
            color: white;
            z-index: 2;

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}
