@import 'src/shared/scss/media-queries';

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  height: 100dvh;

  @include mobile {
    width: calc(100% - 32px);
    padding: 16px 16px 32px;
    gap: 24px;
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
    background: transparent;
    width: 100%;
    max-width: 1245px;

    @include mobile {
      flex-direction: column;
    }

    &__left {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      min-width: 413px;
      gap: 24px;

      @include mobile {
        width: 100%;
        min-width: auto;
        gap: 24px;
      }

      &__header {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;

        @include mobile {
          width: 100%;
        }

        &__title {
          color: #f8f8ff;
          text-align: center;
          font-family: 'Inter';
          font-size: 36px;
          font-weight: 700;
          line-height: 56.2px;

          @include tablet {
            font-size: 32px;
          }

          @include mobile {
            align-self: center;
          }
        }
      }

      &__body {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 16px;

        @include mobile {
          gap: 12px;
        }

        &__row {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: row;
          width: 100%;
          gap: 16px;

          @include mobile {
            flex-direction: column;
            gap: 12px;
          }

          &__inputs-container {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 8px;
            width: 100%;

            &__title {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              flex-direction: column;
              gap: 8px;
              width: 100%;
              font-family: 'Inter';
              font-size: 20px;
              font-weight: 400;
              line-height: 24.2px;
              text-align: left;
              color: #a5a5a5;

              @include mobile {
                gap: 4px;
              }
            }
          }
        }

        &__button-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;

          .button {
            display: flex;
            padding: 8px 64px;
            border-radius: 4px;
            background: #333333;
            color: #a5d170;
            border: 1px solid #a5d170;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
              background: #474747;
            }

            &:active {
              background: #333333;
            }
          }
        }
      }
    }

    &__right {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 32px;

      &__cv-container {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        max-width: 319px;
        height: auto;
        position: relative;
        cursor: pointer;
      }

      &__cv {
        z-index: 2;
        width: 100%;
        height: auto;
        transition: all 0.3s ease-in-out;

        &--active {
          filter: blur(2px);
        }
      }

      .download {
        z-index: 2;
        position: absolute;
        color: #f8f8ff;
        text-align: center;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 700;
        line-height: 18.2px;
        text-decoration: underline;
        background: #7c7c7c;
        padding: 4px 8px;
        border-radius: 4px;
      }

      &__background {
        position: absolute;
        z-index: 1;
        max-width: 319px;
        height: auto;
        bottom: 0rem;
        right: 0rem;
        width: 319px;
        height: 412px;
        background: #7c7c7c;
      }
    }
  }

  .input {
    width: 100%;
    border-radius: 8px;
    background: #393939;
    border: 1px solid #7b7b7b;
    padding: 8px 16px;

    color: #f8f8ff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .text-area-input {
    width: 100%;
    border-radius: 8px;
    background: #393939;
    border: 1px solid #7b7b7b;
    min-height: 144px;
    padding: 8px 16px;

    color: #f8f8ff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      min-height: 72px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
    cursor: pointer;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 12px;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 12px;
    }

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 8px;
      color: #f8f8ff;

      &:hover {
        text-decoration: underline;
      }

      img {
        max-width: 24px;
        height: auto;
      }

      span {
        color: #f8f8ff;
        font-family: 'Inter';
        font-size: 12px;
        font-weight: 400;
        line-height: 23.42px;
        text-align: left;
      }
    }
  }
}

.loading {
  animation: rotateLoad 2s linear infinite;

  @keyframes rotateLoad {
    0% {
      transform: rotate(0deg);
    }

    0% {
      transform: rotate(-360deg);
    }
  }
}

.disable-button {
  color: #708d4d !important;
  border: 1px solid #333333 !important;
}
